<div class="mb-3">
	<a asp-action="Index" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Season Overview</a>
	<a asp-action="Rosters" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">View Rosters</a>
	<a asp-action="Details" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Manage Season</a>
	<a asp-action="Players" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Manage Players</a>
	<a asp-action="Teams" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Manage Teams</a>
	<a asp-action="Games" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Manage Games</a>
	<a asp-action="Rounds" asp-route-id="@Model.LeagueSeasonChooser.SelectedSeasonId" class="mx-2 text-nowrap">Manage Rounds</a>
</div>