@using Microsoft.Extensions.Options
@using SubspaceStats.Areas.League.Models
@using SubspaceStats.Areas.League.Models.Season
@using System.Text.Json
@using SubspaceStats.Options
@inject IOptions<LeagueOptions> leagueOptions
@model RostersViewModel

@{
	ViewData["Title"] = "Rosters";
}

<partial name="_SeasonNav" />
@* <h1>Rosters</h1> *@

<div class="container mt-3 mb-3">
	<div class="row g-3">
		@foreach (var seasonRoster in Model.Rosters)
		{
			<div class="col-12 col-md-6 col-lg-4 col-xl-3">
				<div class="card h-100">
					<h5 class="card-header text-center">
						@if(!string.IsNullOrWhiteSpace(seasonRoster.BannerSmall))
						{
							<img src="@($"{leagueOptions.Value.ImageUrlPath}/TeamBanners/{seasonRoster.TeamId}/{seasonRoster.BannerSmall}")" />
						}
						<a asp-controller="Team" asp-action="Index" asp-route-teamId="@seasonRoster.TeamId">@seasonRoster.TeamName</a>
					</h5>
					<div class="card-body">
						<table class="table table-sm table-borderless table-hover m-0">
							<tbody>
								@foreach (var rosterItem in seasonRoster.Roster)
								{
									<tr>
										<td><a asp-controller="Player" asp-action="Index" asp-route-playerName="@rosterItem.PlayerName">@rosterItem.PlayerName</a></td>
										<td class="text-end">
											@if (rosterItem.IsSuspended)
											{
												<span class="badge text-bg-danger mx-2">Suspended</span>
											}

											@if (rosterItem.IsCaptain)
											{
												<span>Captain</span>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		}
	</div>
</div>
