@using SubspaceStats.Areas.League.Authorization
@using SubspaceStats.Areas.League.Models.Franchise
@model FranchiseDetailsViewModel

@{
	ViewData["Title"] = "Franchise Details";
}

<partial name="_Breadcrumb" />

<h1>Franchise Details</h1>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover w-auto">
		<thead>
			<tr>
				<th colspan="3" class="text-center">@Model.Franchise.Name</th>
			</tr>
			<tr>
				<th>Team</th>
				<th>Season</th>
				<th>League</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var teamAndSeason in Model.TeamsAndSeasons)
			{
				<tr>
					<td><a asp-controller="Team" asp-action="Index" asp-route-teamId="@teamAndSeason.TeamId" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@teamAndSeason.TeamName</a></td>
					<td><a asp-controller="Season" asp-action="Index" asp-route-seasonId="@teamAndSeason.SeasonId" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@teamAndSeason.SeasonName</a></td>
					<td><a asp-controller="League" asp-action="Details" asp-route-leagueId="@teamAndSeason.LeagueId" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@teamAndSeason.LeagueName</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
