@using Microsoft.Extensions.Options
@using SubspaceStats.Areas.League.Models.Season.Team
@using SubspaceStats.Options
@inject IOptions<LeagueOptions> leagueOptions
@model EditTeamViewModel

@{
    ViewData["Title"] = "Edit Season Team";
    IEnumerable<SelectListItem> franchises =
        from franchise in Model.Franchises.Values
        select new SelectListItem(franchise.Name, franchise.Id.ToString());
}

<h1>Edit Season Team</h1>

<div class="mb-3">
    <a asp-controller="Season" asp-action="Teams" asp-route-seasonId="@Model.Season.SeasonId">Back to Season Teams</a>
</div>

<div class="container">
    <form asp-action="Edit" enctype="multipart/form-data">
        <h4>Edit team in</h4>
        <div class="ms-3">
            <div class="mb-3">
                <label class="form-label">Season</label>
                <input asp-for="Season.SeasonName" class="form-control" disabled readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">League</label>
                <input asp-for="Season.LeagueName" class="form-control" disabled readonly />
            </div>
        </div>
        <h4>Team info</h4>
        <div class="ms-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Model.TeamName" class="form-label"></label>
                <input asp-for="Model.TeamName" class="form-control" />
                <span asp-validation-for="Model.TeamName" class="text-danger"></span>
            </div>
            @if (Model.ImageUploadsEnabled)
            {
                <div class="mb-3">
                    <label asp-for="Model.BannerSmall" class="form-label"></label>
                    @if (!string.IsNullOrWhiteSpace(Model.Model.BannerSmallPath))
                    {
                        <img src="@($"{leagueOptions.Value.ImageUrlPath}/TeamBanners/{Model.Model.BannerSmallPath}")" asp-append-version="true" />
                    }
                    <input asp-for="Model.BannerSmall" class="form-control" />
                    <span asp-validation-for="Model.BannerSmall" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Model.BannerLarge" class="form-label"></label>
                    @if (!string.IsNullOrWhiteSpace(Model.Model.BannerLargePath))
                    {
                        <img src="@($"{leagueOptions.Value.ImageUrlPath}/TeamBanners/{Model.Model.BannerLargePath}")" asp-append-version="true" />
                    }
                    <input asp-for="Model.BannerLarge" class="form-control" />
                    <span asp-validation-for="Model.BannerLarge" class="text-danger"></span>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Model.FranchiseId" class="form-label"></label>
                <select asp-for="Model.FranchiseId" asp-items="@franchises" class="form-select" aria-describedby="game-type-note">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Model.FranchiseId" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <a asp-controller="Season" asp-action="Teams" asp-route-seasonId="@Model.Season.SeasonId" class="btn btn-secondary m-2">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}