@using Microsoft.Extensions.Options
@using SubspaceStats.Areas.League.Models
@using SubspaceStats.Areas.League.Models.Team
@using SubspaceStats.Options
@model TeamViewModel
@inject IOptions<LeagueOptions> leagueOptions

@{
    ViewData["Title"] = "Team";
}

<div class="d-flex">
    <h1>Team</h1>
</div>

<div class="container">
    <h3 class="row">@Model.TeamInfo.Name</h3>
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-4">
                    League:
                </dt>
                <dd class="col-8">
                    <a asp-controller="League" asp-action="Details" asp-route-id="@Model.TeamInfo.LeagueId">@Model.TeamInfo.LeagueName</a>
                </dd>
                <dt class="col-4">
                    Season:
                </dt>
                <dd class="col-8">
                    <a asp-controller="Season" asp-action="Index" asp-route-id="@Model.TeamInfo.SeasonId">@Model.TeamInfo.SeasonName</a>
                </dd>
                @if (Model.TeamInfo.FranchiseId is not null)
                {
                    <dt class="col-4">
                        Franchise:
                    </dt>
                    <dd class="col-8">
                        <a asp-controller="Franchise" asp-action="Details" asp-route-id="@Model.TeamInfo.FranchiseId.Value">@Model.TeamInfo.FranchiseName</a>
                    </dd>
                }
            </dl>
        </div>
        <div class="col-6 table-responsive">
            <table class="table table-striped table-bordered table-hover text-nowrap text-end">
                <thead>
                    <tr><th colspan="3" class="text-center">Season Record</th></tr>
                    <tr>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Draws</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TeamInfo.Wins</td>
                        <td>@Model.TeamInfo.Losses</td>
                        <td>@Model.TeamInfo.Draws</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover text-nowrap">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">Matches</th>
                    </tr>
                    <tr>
                        <th>Teams</th>
                        <th>Time (ET)</th>
                        <th>Round</th>
                        <th>Result</th>
                        <th>Scores</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.GameRecords)
                    {
                        DateTime? gameTime = game.GameTimestamp is not null ? TimeZoneInfo.ConvertTimeFromUtc(game.GameTimestamp.Value, leagueOptions.Value.TimeZone) : null;

                        <tr>
                            <td>
                                @if (game.GameId is null)
                                {
                                    @game.Teams
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="Game" asp-action="Index" asp-route-id="@game.GameId">@game.Teams</a>
                                }
                            </td>
                            <td>
                                @if (gameTime is null)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <text>@gameTime.Value.ToString("yyyy-MM-dd hh:mm tt")</text>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(game.RoundName))
                                {
                                    @game.RoundName
                                }
                                else if (game.RoundNumber is not null)
                                {
                                    @game.RoundNumber
                                }
                            </td>
                            <td>@game.Result</td>
                            <td>@game.Scores</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>