@using Microsoft.Extensions.Options
@using SubspaceStats.Areas.League.Models.League
@using SubspaceStats.Options
@model LeagueDetailsViewModel
@inject IOptions<LeagueOptions> leagueOptions

@{
    ViewData["Title"] = "League Details";

    string gameTypeName = Model.GameTypes.TryGetValue(Model.League.GameTypeId, out GameType? gameType) ? gameType.Name : Model.League.GameTypeId.ToString();
}

@await Html.PartialAsync("_LeagueNav")
@* <h1>League Details</h1> *@

<h3>@Model.League.Name</h3>

<div class="mb-3">
    <a asp-action="Index" class="mx-2">Manage Leagues</a>
    <a asp-action="Edit" asp-route-id="@Model.League.Id" class="mx-2">Edit</a>
</div>

<div class="container">
	<table class="table table-borderless table-sm w-auto">
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.Id):</td>
			<td>@Model.League.Id</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.GameTypeId):</td>
			<td>@gameTypeName</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.MinTeamsPerGame)</td>
			<td>@Model.League.MinTeamsPerGame</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.MaxTeamsPerGame)</td>
			<td>@Model.League.MaxTeamsPerGame</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.FreqStart)</td>
			<td>@Model.League.FreqStart</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(m => m.League.FreqIncrement)</td>
			<td>@Model.League.FreqIncrement</td>
		</tr>
	</table>
</div>

<h4>Seasons</h4>

<div class="mb-3">
    <a asp-controller="Season" asp-action="Create" asp-route-leagueId="@Model.League.Id">New Season</a>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="text-end">ID</th>
				<th>Name</th>
				<th title="Created @leagueOptions.Value.TimeZone.DisplayName">Created</th>
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var season in Model.Seasons)
			{
				<tr>
					<td class="text-end">@season.Id</td>
					<td><a asp-controller="Season" asp-action="Index" asp-route-seasonId="@season.Id" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@season.Name</a></td>
					<td>@TimeZoneInfo.ConvertTimeFromUtc(season.CreatedTimestamp, leagueOptions.Value.TimeZone).ToString("yyyy-MM-dd hh:mm tt")</td>
					<td><a asp-controller="Season" asp-action="Edit" asp-route-seasonId="@season.Id">Edit</a></td>
                    <td><a asp-controller="Season" asp-action="Copy" asp-route-seasonId="@season.Id">Copy</a></td>
					<td><a asp-controller="Season" asp-action="Delete" asp-route-seasonId="@season.Id">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
