@using SubspaceStats.Areas.League.Models
@using SubspaceStats.Areas.League.Models.League
@model LeagueListViewModel
@* @inject SubspaceStats.Services.IStatsRepository statsRepository; *@

@{
	ViewData["Title"] = "League List";
	//await statsRepository.GetGameTypesAsync()
}

<partial name="_LeagueNav" />

<h1>Manage Leagues</h1>

<div class="mb-3">
	<a asp-action="Create" class="mx-2">New League</a>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="text-end">ID</th>
				<th>Name</th>
				<th>Game Type</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var league in Model.Leagues)
			{
				string gameTypeName = Model.GameTypes.TryGetValue(league.GameTypeId, out GameType? gameType) ? gameType.Name : league.GameTypeId.ToString();

				<tr>
					<td class="text-end">@league.Id</td>
					<td><a asp-action="Details" asp-route-leagueId="@league.Id" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@league.Name</a></td>
					<td>@gameTypeName</td>
					<td><a asp-action="Edit" asp-route-leagueId="@league.Id">Edit</a></td>
					<td><a asp-action="Delete" asp-route-leagueId="@league.Id">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
