@using SubspaceStats.Areas.League.Authorization
@using SubspaceStats.Areas.League.Models
@model NavViewModel

@{
    ViewData["Title"] = "Navigate Leagues and Seasons";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Leagues</li>
    </ol>
</nav>

<h1>Leagues and Seasons</h1>

<ul class="nav">
    @if (User.IsInRole(RoleNames.Administrator))
    {
        <li class="nav-item">
            <a asp-controller="League" asp-action="Index" class="nav-link">Manage Leagues</a>
        </li>
    }
</ul>

<div class="d-flex">
    <div class="accordion" id="leaguesAccordion">
        @foreach (var league in Model.LeagueWithSeasons)
        {
            string collapseHeaderId = $"league{league.LeagueId}";
            string collapseId = $"collapse{league.LeagueId}";
            <div class="accordion-item">
                <div id="@collapseHeaderId" class="accordion-header rounded-top d-flex align-items-center border-bottom bg-body-tertiary">
                    <a asp-controller="League" asp-action="Details" asp-route-leagueId="@league.LeagueId" class="text-nowrap mx-3">@league.LeagueName</a>
                    <button class="accordion-button bg-transparent shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                    </button>
                </div>
                <div id="@collapseId" class="accordion-collapse collapse show">
                    <div class="accordion-body bg-dark rounded-bottom">
                        @foreach (var season in league.Seasons)
                        {
                            string seasonElementId = $"season{season.SeasonId}";
                            <div class="mb-2"><a asp-controller="Season" asp-action="Index" asp-route-seasonId="@season.SeasonId" class="m-3" id="@seasonElementId">@season.SeasonName</a></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        string? elementId = null;
        if (Model.SeasonId is not null)
        {
            elementId = $"season{Model.SeasonId.Value}";
        }
        else if(Model.LeagueId is not null)
        {
            elementId = $"league{Model.LeagueId.Value}";
        }

        if (!string.IsNullOrWhiteSpace(elementId))
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    var $scrollToElement = $('#@elementId');
                    var topOffset = $scrollToElement.offset().top
                    if ($scrollToElement != null) {
                        $('html, body').animate({
                            scrollTop: topOffset
                        }, 500);
                    }
                });
            </script>
        }
    }
}