@using Microsoft.AspNetCore.Authorization
@using SubspaceStats.Areas.League.Authorization
@using SubspaceStats.Areas.League.Models.League
@model ILeagueViewModel
@inject IAuthorizationService AuthorizationService

@{
	bool isManager = (await AuthorizationService.AuthorizeAsync(User, Model.League, PolicyNames.Manager)).Succeeded;
	bool isPermitManager = (await AuthorizationService.AuthorizeAsync(User, Model.League, PolicyNames.PermitManager)).Succeeded;
}

<nav class="nav nav-underline">
	@if (Model.League is not null)
	{
		<a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.League.Id" class="nav-link @(Model.Section == LeagueSection.Details ? "active" : "")">Details</a>
		@if (isManager)
		{
			<a asp-controller="League" asp-action="Edit" asp-route-leagueId="@Model.League.Id" class="nav-link @(Model.Section == LeagueSection.Edit ? "active" : "")">Edit League</a>
			<a asp-controller="LeagueRoles" asp-action="Index" asp-route-leagueId="@Model.League.Id" class="nav-link @(Model.Section == LeagueSection.Roles ? "active" : "")">User Roles</a>
		}
		@if(isManager || isPermitManager)
		{
			<a asp-controller="LeaguePlayerRoles" asp-action="Index" asp-route-leagueId="@Model.League.Id" class="nav-link @(Model.Section == LeagueSection.PlayerRoles ? "active" : "")">Player Roles</a>
		}
	}

	@if (User.IsInRole(RoleNames.Administrator))
	{
		<a asp-controller="League" asp-action="Index" class="nav-link @(Model.Section == LeagueSection.Manage ? "active" : "")">Manage Leagues</a>
	}
</nav>
