@using Microsoft.AspNetCore.Authorization
@using SubspaceStats.Areas.League.Authorization
@using SubspaceStats.Areas.League.Models.Season
@model ISeasonViewModel
@inject IAuthorizationService AuthorizationService

@{
	bool isSeasonManager = (await AuthorizationService.AuthorizeAsync(User, Model.SeasonDetails, PolicyNames.Manager)).Succeeded;
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Nav">Leagues</a></li>
		<li class="breadcrumb-item"><a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.LeagueNav.LeagueId">@Model.LeagueNav.LeagueName</a></li>
		<li class="breadcrumb-item active" aria-current="Page">@Model.SeasonNav.SeasonName</li>
	</ol>
</nav>

<h1>@Model.SeasonNav.SeasonName</h1>

<ul class="nav nav-underline">
	<li class="nav-item">
		<a asp-controller="Season" asp-action="Index" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Overview ? "active" : "")">Overview</a>
	</li>
	<li class="nav-item">
		<a asp-controller="Season" asp-action="Rosters" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Rosters ? "active" : "")">Rosters</a>
	</li>

	@if (Model.SeasonDetails.LeagueGameTypeId is not null)
	{
		<li class="nav-item">
			<a asp-area="" asp-controller="Leaderboard" asp-action="Index" asp-route-gameType="@Model.SeasonDetails.LeagueGameTypeId" asp-route-period="@Model.SeasonDetails.StatPeriodId" target="_blank" class="nav-link">Stats</a>
		</li>
	}

	@if (isSeasonManager)
	{
		<li class="nav-item">
			<a asp-controller="Season" asp-action="Details" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Details ? "active" : "")">Manage Season</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Season" asp-action="Players" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Players ? "active" : "")">Manage Players</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Season" asp-action="Teams" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Teams ? "active" : "")">Manage Teams</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Season" asp-action="Games" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Games ? "active" : "")">Manage Games</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Season" asp-action="Rounds" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Rounds ? "active" : "")">Manage Rounds</a>
		</li>
		<li class="nav-item">
			<a asp-controller="SeasonRoles" asp-action="Index" asp-route-seasonId="@Model.SeasonNav.SeasonId" class="nav-link @(Model.Page == SeasonPage.Roles ? "active" : "")">Manage Roles</a>
		</li>
	}
</ul>
